.toggle-theme {
  position: absolute;
  height: 70px;
  overflow: hidden;
  width: 160px;
  cursor: pointer;
  right: 0;
  box-shadow: 1px 1px 10px var(--background-default) inset;

  .swap-time {
    width: 450px;
    background-color: red;
    right: 100px;
    position: absolute;
    left: 0;
    left: -135px;

    .clounds {
      top: 0;
      height: 55px;
      transition: margin-right, 1s;
      top: 0;
      position: absolute;
    }

    .moon-sun {
      margin-left: 25%;
      height: 55px;
      transition: margin-left, 1s;
      position: absolute;
    }

    .light-clound {
      margin-left: -5%;
    }

    .dark {
      margin-left: -30%;
      height: 55px;

      &-clound {
        margin-left: 30%;
      }
    }
  }
}