.side-menu {
    background-color: transparent;
    width: 100%;
    position: fixed;
    left: -100%;
    top: 0;
    height: 100%;
    z-index: 200;
    transition: left 0.5s ease 0s, background-color 0s ease 0s;
    display: flex;


    &__content {
        height: 100%;
        width: 80%;
        background-color: var(--background-primary);
        position: relative;

        .close {
            position: absolute;
            right: 0;
            top: 0;
            font-size: 20px;
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            color: var(--color-primary);
        }
    }

    &__area-close {
        width: 20%;
        height: 100%;
    }
}

.side-menu.open {
    left: 0 !important;
    background-color: rgba(31, 27, 27, 0.24);
    transition: left .5s, background-color .5s ease .4s;
}