.header {
    display: flex;
    align-items: center;
    background-color: var(--background-default);
    border-bottom: 1px solid var(--color-border);
    position: sticky;
    padding: 60px 20px 20px !important;
    top: 0;
    z-index: 100;

    .options {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column: 1fr 1fr;
            justify-content: end;
            align-content: center;
            align-items: center;
            justify-items: center;
            width: 322px;
            height: 30px;
            position: absolute;
            right: 0;
            top: 15px;
        select {
            height: 30px;
            padding: 0 10px;
            border-radius: 4px;
            width: 150px;
        }

        .night-light {
            position: absolute;
            height: 70px;
            overflow: hidden;
            width: 160px;
            cursor: pointer;
            right: 0;
            box-shadow: 1px 1px 10px var(--background-default) inset;

            .swap-time {
                width: 450px;
                background-color: red;
                right: 100px;
                position: absolute;
                left: 0;
                left: -135px;

                .clounds {
                    top: 0;
                    height: 55px;
                    transition: margin-right, 1s;
                    top: 0;
                    position: absolute;
                }

                .moon-sun {
                    margin-left: 25%;
                    height: 55px;
                    transition: margin-left, 1s;
                    position: absolute;
                }

                .light-clound {
                    margin-left: -5%;
                }

                .dark {
                    margin-left: -30%;
                    height: 55px;

                    &-clound {
                        margin-left: 30%;
                    }
                }
            }
        }
    }

    &-content {
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: space-between;
        padding: 0px;
    }

    &-name {
        font-size: 24px;
        font-weight: bold;
        display: flex;
        align-items: center;
        gap: 5px;
    }
    
    .nav {
        &-list {
            display: flex;
            gap: 20px;
            list-style: none;
            margin: 0;
            font-size: 14px;
        }
    
        a {
            text-decoration: none;
            color: var(--color-text);
            font-size: 16px;
            font-weight: 600;
        
            &:hover {
                color: #007bff;
            }
        }
    }
}