:root {
    --background-primary: #454545;
    --background-secundary: #2f2f2f;
    --background-dark: hsl(0, 0%, 13%);
    --background-card: #606060;
    --background-default: #323232;
    --color-text: #c8c8c8;
    --color-secondary: #c9c0c0;
    --color-border: #848484;
    --color-hover: #4444446b;
}

.light {
 height: 100%;
 position: relative;
}

.light::after {
  content: "";
  width: 2px;
  background-color: #999457;
  height: 100%;
  position: absolute;
  left: 1px;
  top: 0;
  box-shadow: 2px 0px 16px 3px rgb(255 255 255);
}

.light::before {
  content: "";
  width: 2px;
  background-color: #999457;
  height: 100%;
  position: absolute;
  right: 1px;
  top: 0;
  box-shadow: 2px 0px 16px 3px rgb(255 255 255);
}
