.footer {
    background-color: var(--background-default);
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: var(--color-text);
    z-index: 1;

    &__content {
        .social-links {
            display: flex;
            justify-content: center;
            gap: 20px;
            list-style: none;
            margin: 0;
            padding: 0;

            a {
                text-decoration: none;
                color: var(--color-secondary);
                font-size: 16px;
                display: flex;
                align-items: center;
                gap: 5px;
                height: 30px;

                &:hover {
                    color: #007bff;
                }
            }
        }
    }
}