.experience {
  &__content {
    display: flex;
    gap: 30px;

    .info {
      font-size: 14px;
      color: var(--color-text);
      width: 250px;

      &-function {
        font-weight: 600;
        font-size: 15px;
        color: var(--color-title);
        margin-bottom: 4px;
      }
    }

    &-history {
      position: relative;
      width: 80%;
      padding-bottom: 2em;
      font-size: 15px;
      color: var(--color-text);
      text-align: justify;

      &:after {
        content: '';
        height: 10px;
        width: 10px;
        border-radius: 100%;
        background-color: var(--color-text);
        position: absolute;
        left: -20px;
        top: 2px;
      }

      &:before {
        content: '';
        height: 100%;
        width: 2px;
        background-color: var(--color-text);
        position: absolute;
        left: -15.8px;
        top: 7px;
      }
    }
  }
}

@media (max-width: 760px) {
  .experience {
    &__content {
      display: block;

      .info { 
        width: 100%;
        margin-bottom: 10px;

        &-busines,
        &-time,
        &-location {
          padding-left: 10px;
        }
      }

      &-history {
        padding-left: 10px;
        width: 100%;

        &:after,
        &:before {
          display: none;
        }
      }
    }
  }
}